
.container {
  min-height: 100vh;
  padding: 0 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  width: 100%;

}


.title,
.description {
  text-align: center;
}


.description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  font-size: 5vh;
  margin: 0 auto;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}



.sociallink {
  color: #4a4a4a; /* Темний сірий колір */
  text-decoration: none; /* Вимкнути підкреслення */
  transition: color 0.2s ease; /* Плавна анімація зміни кольору */
}

/* Посилання при наведенні курсора */
.sociallink:hover {
  color: #007bff; /* Синій колір */
  text-decoration: underline; /* Підкреслити посилання при наведенні */
}

/* Відвідані посилання */
.sociallink:visited {
  color: #4a4a4a; /* Темний сірий колір */
}

/* Натиснуті посилання */
.sociallink:active {
  color: #007bff; /* Синій колір */
}

/* Активні посилання (колір при виборі клавішами) */
.sociallink:focus {
  color: #007bff; /* Синій колір */
}

.sect {
  width: 100%;
}